.field{
    display: flex;
    height: 70px;
    background-color: #a5e6cb;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
}

.rightside{
    padding-left: 10px;
}

.h2{
    margin: 0;
    margin-bottom: 10px;
}
.button{
    padding: 5px 10px;
    background-color: #bf9574;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.icon{
    width: 15px;
    height: 15px;
    margin-right: 6px;
}
.displayFlex{
    display: flex;
    align-items: center;
    line-height: 18px;
}