.wrapper{
    width: 450px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #000;
    margin-bottom: 10px;
}
.wrapper.active{
    border: 2px solid #30b13b;
}
p{
    margin: 0;
    padding: 0;
}
h3{
    margin: 0;
    padding: 0;
}
.button{
    padding: 5px 10px;
    background-color: #bf9574;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}